{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <img src="{{ asset('resources/favicon/apple-icon-precomposed.png') }}" alt="logo" class="ui small image" />
        <br/><br/>
        {{ 'sylius.ui.server_has_encountered_some_errors'|trans }}
    </h2>

{% endblock %}
